<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1> Sign Up </h1>
    <form>
        <label> Username </label>
        <input type = "text">
        <label> Password </label>
        <input type = "password">
        <button type = "button"> Login </button>
    </form>
    <a href="{{ url_for('login') }}"> Dont have an accont? Register.</a><br>

</body>
</html>